<header id="header" class="header sticky-top">
    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center">
            <a href="mailto:support@ansoftwareservices.com">support@ansoftwareservices.com</a>
          </i>
          <i class="bi bi-phone d-flex align-items-center ms-4">
            <span> +1(506)703-5614</span>
          </i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="https://www.x.com/anadeau" class="twitter" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="https://www.facebook.com/ansoftwareservices/" class="facebook" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/adriannadeau" class="instagram" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/101774044/" class="linkedin" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="branding d-flex">
      <div class="container position-relative d-flex justify-content-between">
        <nav class="navbar">
          
        </nav>
        
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li class="dropdown">
              <a href="#"><span>Products</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="https://smbbusiness.pro/" target="_blank" rel="noopener noreferrer">SMB Business Pro</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">HotLead (coming soon)</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"><span>AI Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="" target="_blank" rel="noopener noreferrer">Prompt Engineering</a></li>
                <li><a href="" target="_blank" rel="noopener noreferrer">Midjourney</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">JasperAI</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">DALL-E</a></li>
              </ul>
            </li>
            <li><a href="https://itthoughtsadrian.wordpress.com/" target="_blank" rel="noopener noreferrer">Blog</a></li>
            <li><a href="#contact">Where?</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="cta-btn d-none d-sm-block" href="https://bookmenow.info/book/MCAL-d18533fd-bfb1-4dba-8d2d-284780624f0a/free-consulation" target="_blank" rel="noopener noreferrer" style="margin-bottom: 25px;">Free Consultation</a>
      </div>
    </div>
  </header>