<section class="wrapper bg-light">
  <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
    <div class="row">
      <div class="col-lg-9 col-xl-8 mx-auto">
        <!-- Use a simple icon instead of missing image -->
        <div class="text-center mb-10">
          <div class="icon btn btn-circle btn-xl btn-soft-primary pe-none">
            <i class="uil uil-exclamation-triangle display-1"></i>
          </div>
        </div>
      </div>
      <!-- /column -->
      <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
        <h1 class="mb-3">Oops! Page Not Found.</h1>
        <p class="lead mb-7 px-md-12 px-lg-5 px-xl-7">The page you are looking for is not available or has been moved. Try a different page or go to homepage with the button below.</p>
        <div class="d-flex justify-content-center gap-2">
          <a href="/" class="btn btn-primary rounded-pill">Go to Homepage</a>
          
        </div>
        
        
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->